/*setting struttura*/
.container_general{
  width:100vw;
  height:100vh;
}
.section_top{
  height:calc(100% - 100px);
  max-width: 100%;
}
.section_bottom{
  width: 100%;
  height:100px;
  background-color:#333333;
}
.menu{
  width:200px;
  height:100%;
  background-color:rgba(0, 0, 0, 0.9);
}
.contents{
  width:calc(100% - 200px);
  height:100%;
  overflow:auto;

  background-image:linear-gradient(to bottom right, 	lightslategrey,black);
}
h1, h2, h3, h4{
  font-family:serif;
  color:white;
}
p,a{
  font-family:Helvetica, Arial, sans-serif;
}
a{
  text-decoration:none;
}
a:hover{
  opacity:0.4;
}
/*setting menu colonna di sinistra*/
.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex_in{
  display: flex;
  justify-content: flex-start;
  align-items:center;

}
.flex_in h2{
  color:white;
  font-size:32px;
  margin-left:5px;
  margin-top:15px;
  margin-bottom:15px;
}
.header_menu .items_header_menu a:active{
  border-bottom:solid 5px green;
}
.border{
  border:solid 1px white;
  width:90%;
}
.icon,.user{
  margin-left:10px;
  line-height:40px;
}

.recently p{
  color:white;
  font-size:12px;
}
/*setting header*/

.menu_a_tendina{
  display: none;
}
.header_menu{
  display: flex;
  justify-content: center;
}
.items_header_menu{
  display: flex;
  flex-wrap: wrap;
}
.header_menu .items_header_menu li{
  list-style: none;
  margin:25px 0 15px 30px;
}
.header_menu .items_header_menu li a{
  text-decoration:none;
  color:white;
  font-size:13px;
}
.titolo_categoria{
  margin-left:30px;
  margin-bottom:25px;
  margin-top:50px;
  font-size:25px;
}
.avanzamento input{
  width:400px;
}
.conten{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music_copertina{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.music_copertina img{
  max-width:200px;
  max-height:150px;
  margin-left:30px;
  margin-top:15px;
  margin-bottom:20px;
}
.circle{
  border-radius:50%;
}

/*setting footer*/
.menu_in_play{
  display: flex;
  justify-content: space-between;
}
.menu_in_play_items{
  display: flex;
  justify-content: center;
}
 .menu_in_play .menu_in_play_items.sx img{
  max-width:90px;
  margin:5px 5px;
}
.title_music{
  display: flex;
  flex-direction: column;
  font-size:15px;
  justify-content: center;
}
.title_music h4,p{
  margin:5px 10px;
  color:white;
}
.hearts{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.player{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons{
  display: flex;
  margin-bottom:5px;
  justify-content: center;
}
.buttons  img{
  height:20px;
  width:20px;
  margin:0 15px;
}
.avanzamento{
  display: flex;
}
.dx input{
  width:100px;
}
.dx{
  align-items: center;
  margin-right:10px;
}
.dx img{
  margin-right:5px;
}
@media all and (max-width:863px){
  .menu h2,h4,p{
    display: none;
  }
  .menu{
    align-items: center;
    width:50px;
  }
  .contents{
    width:calc(100% - 50px);
  }
  .icon img{
    margin:20px 0;
  }
  .user img{
    margin:10px 0;
  }
  .titolo_categoria h2{
    text-align: center;
  }
  .items_header_menu{
    display: none;
  }
  .menu_a_tendina{
    display:block;
    margin:20px 50px 20px 50px;
  }
  .header_menu{
    justify-content: flex-start;

  }

}
@media all and (max-width:700px){
  .menu_in_play_items.dx input{
    display: none;
  }
  .avanzamento input{
    width:250px;
  }
  .buttons  img{
    height:15px;
    width:15px;
    margin:10px 10px 0 10px;
  }
  .menu_in_play{
    display: flex;
    justify-content:space-between;
  }
  .menu_in_play .menu_in_play_items.sx img{
   width:50px;
   height:60px;
 }
  .hearts{
    display:none;
  }
 .section_top{
   height:calc(100% - 75px);
   max-width: 100%;

 }
 .section_bottom{
   width: 100%;
   height:75px;

 }
}
